/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #e7eaf0;
}

* {
    box-sizing: border-box;
}

.page-section-container {
    padding: 1rem;
    height: calc((100vh - 3rem)*0.8);
    overflow-y: auto;
}

.header-footer-section-container {
    padding: 1rem;
    height: 100%;
}